<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

<body>
    <h1>{{header}}</h1>
    <ul>
        <li><button>Купить</button><a href="#">The Elden Ring</a></li>
        <p></p>
        <li><button>Купить</button><a href="#">Tekkin 8</a></li>
        <p></p>
        <li><button>Купить</button><a href="#">Gran Turismo 7</a></li>
        <p></p>
    </ul>
    <form action="http://127.0.0.1:8000/platform/">
        <button>{{b_back}}</button>
    </form>

</body>

</html>
