<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

<body>
    <h1>{{header}}</h1>
    <ul>
        <li><button>{{buy}}</button><a href="#">{{first_game}}</a></li>
        <p></p>
        <li><button>{{buy}}</button><a href="#">{{second_game}}</a></li>
        <p></p>
        <li><button>{{buy}}</button><a href="#">{{third_game}}</a></li>
        <p></p>
    </ul>
    <form action="http://127.0.0.1:8000/platform/">
        <button>{{b_back}}</button>
    </form>

</body>

</html>
