<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

<pagename>
    {% block pagename %}
    <h1>{{header}}</h1>
    {% endblock %}
</pagename>


{% block menu %}
<p><a href="http://127.0.0.1:8000/platform/">Главная</a></p>
<p><a href="http://127.0.0.1:8000/platform/news/">Новости</a></p>
<p><a href="http://127.0.0.1:8000/platform/store/">Магазин</a></p>
<p><a href="http://127.0.0.1:8000/platform/cart/">Корзина</a></p>
<hr align="left" size="1" width="30%" color="black">
{% endblock %}


<content>
    {% block content %}
    {% endblock %}
</content>

</html>
